/*Html background*/

html {
  height: 100%;
  background-image: url("../img/about-images/background1.jpeg");
  background-attachment: fixed;
  background-size: cover;
}

/*Text body*/

body {
  width: 80%;
  position: absolute;
  margin-left: 10%;
  margin-top: 9%
}

/*1st header*/

.topbuttons {}

#kwetulogotext {
  font-family: 'Freckle Face', cursive;
  font-size: 25px;
  background-color: black;
  margin-top: -11%;
  color: white;
}

/*men button*/

#menbutton {
  padding: 6px 13px;
  color: #E0008A;
  font-size: 18px;
  width: 120px;
  height: 40px;
  text-align: center;
  border-radius: 5px;
  font-family: 'Just Another Hand', cursive;
  margin-right: 5%;
  margin-top: -5%;
  font-weight: bold;
  position: absolute;
  margin-left: 45%;
  margin-top: -3.5%;
}

#menbutton:hover {
  color: white;
  cursor: pointer;
  -o-transition: .5s;
  -ms-transition: 2.5s;
  -webkit-transition: .5s;
}

/*End of men button*/

/*Women button*/

#womenbutton {
  padding: 6px 13px;
  color: #E0008A;
  font-size: 18px;
  width: 120px;
  height: 40px;
  text-align: center;
  border-radius: 5px;
  font-family: 'Just Another Hand', cursive;
  margin-right: 5%;
  margin-top: -5%;
  font-weight: bold;
  position: absolute;
  margin-left: 53%;
  margin-top: -3.5%;
}

#womenbutton:hover {
  color: white;
  cursor: pointer;
  -o-transition: .5s;
  -ms-transition: 2.5s;
  -webkit-transition: .5s;
}

/*End of women button*/

/*Children button*/

#childrenbutton {
  padding: 6px 13px;
  color: #E0008A;
  font-size: 18px;
  width: 120px;
  height: 40px;
  text-align: center;
  border-radius: 5px;
  font-family: 'Just Another Hand', cursive;
  margin-right: 5%;
  margin-top: -5%;
  font-weight: bold;
  position: absolute;
  margin-left: 61%;
  margin-top: -3.5%;
}

#childrenbutton:hover {
  color: white;
  cursor: pointer;
  -o-transition: .5s;
  -ms-transition: 2.5s;
  -webkit-transition: .5s;
}

/*End of Children button*/

/*Home button*/

#homebutton {
  padding: 6px 13px;
  color: #E0008A;
  font-size: 18px;
  width: 120px;
  height: 40px;
  text-align: center;
  border-radius: 5px;
  font-family: 'Just Another Hand', cursive;
  margin-right: 5%;
  margin-top: -5%;
  font-weight: bold;
  position: absolute;
  margin-left: 69%;
  margin-top: -3.5%;
}

#homebutton:hover {
  color: white;
  cursor: pointer;
  -o-transition: .5s;
  -ms-transition: 2.5s;
  -webkit-transition: .5s;
}

/*End of Home button*/

/*Shop button*/

#shopbutton {
  float: right;
  padding: 6px 13px;
  color: #E0008A;
  font-size: 25px;
  width: 120px;
  height: 40px;
  text-align: center;
  border: 1px solid white;
  border-radius: 5px;
  font-family: 'Just Another Hand', cursive;
  margin-right: 5%;
  margin-top: -3.5%;
  font-weight: bold;
}

#shopbutton:hover {
  border-radius: 5px;
  background: white;
  box-shadow: 5px 5px 5px #666;
  cursor: pointer;
  -o-transition: .5s;
  -ms-transition: 2.5s;
  -webkit-transition: .5s;
  opacity: .50;
}

/*End of Shop button*/

/*SEarch Bar*/

#header1 {
  background-color: #4F4B56;
  color: white;
  font-size: 14px;
  line-height: 1.6;
  width: 15%;
  text-align: center;
  margin-left: 32%;
  margin-top: -4%;
  border-radius: 7%
}

/*End of Search*/

/*1st block coontetent -Images section*/

.headphoto {
  background-image: url("../img/about-images/groupphoto.jpg");
  background-repeat: no-repeat;
  background-size: 97% 130%;
  text-align: center;
  padding-bottom: 40%;
  margin-top: 10%;
  margin-left: 3%;
  background-position:
}

/*End of 1st block coontetent -Images section*/

#kwet {
  font-family: 'Freckle Face', cursive;
  color: black;
  position: absolute;
  margin-left: 410%;
}

/*text inside image*/

#sleek {
  position: absolute;
  background-color: black;
  opacity: 0.5;
  font-size: 36px;
  font-weight: 700px;
  line-height: 56px;
  margin-top: 10%;
  margin-left: 4%;
  font-family: 'Monoton', cursive;
  color: white;
  font-size: 50px;
}

/*discover button*/

#discover {
  position: absolute;
  padding: 6px 9px;
  color: white;
  font-size: 20px;
  width: 120px;
  height: 40px;
  text-align: center;
  border: 1px solid white;
  border-radius: 0px;
  font-family: 'Poiret One', cursive;
  margin-left: 7.5%;
  margin-top: 25%;
  font-weight: bold;
}

#discover:hover {
  color: white;
  background-color: black;
  cursor: pointer;
  -o-transition: .5s;
  -ms-transition: 2.5s;
  -webkit-transition: .5s;
}

/*About section*/

.about h1 {
  font-size: 50px;
  font-family: 'Poiret One', cursive;
}

.about h2 {
  color: #777182;
  font-size: 15px;
  font-family: 'Special Elite', cursive;
  text-align: center;
  margin-left: -8%
}

.about {
  margin-left: 5%;
  font-family: 'Roboto Mono', monospace;
  color: black;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid grey;
  margin: 1em 0;
  padding: 0;
  margin-left: 28%;
}

.second {
  height: 80px;
  border: 1px solid black;
  bottom: 0;
  width: 100%;
  background-color: white;
}

#quote {
  margin-left: 30%
}

#quotetxt {
  margin-left: 37%;
  font-family: 'Courgette', cursive;
  font-size: 15px;
}

#quoted {
  margin-left: 48%;
  font-family: 'Poiret One', cursive;
  font-size: 15px;
}

#lquote {
  display: block;
  height: 1px;
  border: 0;
  border-top: 9px solid yellow;
  margin: 1em 0;
  padding: 0;
  margin-left: 45.5%;
}
