/*Html background*/

html {
  height: 100%;
  background-image: url("../img/about-images/background1.jpeg");
  background-attachment: fixed;
  background-size: cover;
}

/*Text body*/

body {
  width: 80%;
  position: absolute;
  margin-left: 10%;
  margin-top: 9%
}

/*1st header*/

#kwetulogotext {
  font-family: 'Freckle Face', cursive;
  font-size: 25px;
  background-color: black;
  margin-top: -2%;
  color: white;
  position: fixed;
}

/*men button*/

#menbutton {
  padding: 6px 13px;
  color: #E0008A;
  font-size: 18px;
  width: 120px;
  height: 40px;
  text-align: center;
  border-radius: 5px;
  font-family: 'Just Another Hand', cursive;
  margin-right: 5%;
  margin-top: -5%;
  font-weight: bold;
  position: absolute;
  margin-left: 33%;
  margin-top: -2%;
}

#menbutton:hover {
  color: white;
  cursor: pointer;
  -o-transition: .5s;
  -ms-transition: 2.5s;
  -webkit-transition: .5s;
}

/*End of men button*/

/*Women button*/

#womenbutton {
  padding: 6px 13px;
  color: #E0008A;
  font-size: 18px;
  width: 120px;
  height: 40px;
  text-align: center;
  border-radius: 5px;
  font-family: 'Just Another Hand', cursive;
  margin-right: 5%;
  margin-top: -5%;
  font-weight: bold;
  position: absolute;
  margin-left: 40%;
  margin-top: -4.5%;
}

#womenbutton:hover {
  color: white;
  cursor: pointer;
  -o-transition: .5s;
  -ms-transition: 2.5s;
  -webkit-transition: .5s;
}

/*End of women button*/

/*Children button*/

#childrenbutton {
  padding: 6px 13px;
  color: #E0008A;
  font-size: 18px;
  width: 120px;
  height: 40px;
  text-align: center;
  border-radius: 5px;
  font-family: 'Just Another Hand', cursive;
  margin-right: 5%;
  margin-top: -5%;
  font-weight: bold;
  position: absolute;
  margin-left: 48%;
  margin-top: -4.5%;
}

#childrenbutton:hover {
  color: white;
  cursor: pointer;
  -o-transition: .5s;
  -ms-transition: 2.5s;
  -webkit-transition: .5s;
}

/*End of Children button*/

/*Home button*/

#homebutton {
  padding: 6px 13px;
  color: #E0008A;
  font-size: 18px;
  width: 120px;
  height: 40px;
  text-align: center;
  border-radius: 5px;
  font-family: 'Just Another Hand', cursive;
  margin-right: 5%;
  margin-top: -5%;
  font-weight: bold;
  position: absolute;
  margin-left: 56%;
  margin-top: -4.5%;
}

#homebutton:hover {
  color: white;
  cursor: pointer;
  -o-transition: .5s;
  -ms-transition: 2.5s;
  -webkit-transition: .5s;
}

/*End of Home button*/

#menubutton {
  float: right;
  padding: 6px 13px;
  color: #E0008A;
  font-size: 25px;
  width: 120px;
  height: 40px;
  text-align: center;
  border: 1px solid white;
  border-radius: 5px;
  font-family: 'Just Another Hand', cursive;
  margin-right: 5%;
  margin-top: -5%;
  font-weight: bold;
}

#menubutton:hover {
  border-radius: 5px;
  background: white;
  box-shadow: 5px 5px 5px #666;
  cursor: pointer;
  -o-transition: .5s;
  -ms-transition: 2.5s;
  -webkit-transition: .5s;
  opacity: .50;
}

/*ENd of 1st header*/

#header1 {
  background-color: #4F4B56;
  color: font-size: 14px;
  line-height: 1.6;
  width: 15%;
  text-align: center;
  margin-left: 0%;
  margin-top: -9%;
  border-radius: 7%
}

/*End of 1st header*/

/*Second Header*/

#timezone {
  position: absolute;
  float: left;
  margin-left: 60%;
}

/*Second Header*/

/*3rd Header*/

/*End of 3rd Header*/

.jumbo {
  background-image: url("../img/about-images/groupphoto.jpg");
  text-align: center;
  padding-bottom: 40%;
  margin-top: 4%;
  backgroun
}
