
/* 
 The styles follow a mobile-first approach
 Thus the first styles are for smartphones in portrait mode, subsequent breakpoints (and the corresponding devices) are specified
*/

h1 { } /* ex : h1 { font-size:2.2em } */
h2 { } /* ex : h2 { font-size:1.8em } */
h3 { } /* ex : h3 { font-size:1.5em } */

#fashionshow { background-image:url("../../../assets/background-portrait.jpg"); background-attachment:fixed; background-position:center 40px; background-repeat:no-repeat; }
#fashionshow .lv-share .lv-button-icon { background-color: var(--text-lightcolor); }
#fashionshow .lv-share .lv-button-icon path { fill: var(--background-lightcolor); }
#fashionshow .lv-share .lv-button-icon:hover { background-color: var(--background-lightcolor); }
#fashionshow .lv-share .lv-button-icon:hover path { fill: var(--text-lightcolor); }

.lv-masthead { height:auto; }
.lv-masthead .lv-video { background:transparent; }
.lv-masthead [is="lv-video"][autoplay] + .lv-video-play { pointer-events:none; opacity:0; }
.lv-masthead [is="lv-video"][autoplay] ~ .lv-video-player { pointer-events:auto; transform:translateY(0); }
.lv-masthead .lv-share { position:absolute; bottom:20px; left:50%; width:100%; transform:translateX(-50%); margin:0; }
.lv-masthead .lvshare { display:none; }

.lv-masthead .lv-button-down { bottom:60px; }
.lv-animation-container > section.lv-masthead { padding-bottom:80px; }

#collection { padding-bottom:0; }
#collection .lv-list-container { margin:0; }
#collection .lv-list-item { padding:0; }
#collection .lv-list-item figcaption { background:var(--background-color); }

#collection\/details figcaption { padding:0; }
#collection\/details figcaption menu { display:block; text-align:center; margin:0 auto; opacity:0; transition:opacity 0.3s ease-in; transition-delay:0.5s; }
#collection\/details [aria-hidden="false"] figcaption menu { opacity:1; }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active), (hover: hover),(-moz-touch-enabled: 0),(-ms-hover: hover),(-webkit-hover: hover) {
	#collection .lv-list-item a:hover figcaption { height:calc(100% + 2px); transition:all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000); }
}

@media screen and (orientation: portrait) {
	.lv-masthead .lv-button-down[href] { display:none; }
}

@media screen and (max-width: 26em) {
	#fashionshow { min-height:calc(100vh - 184px) }
	#fashionshow .lv-menu [rel="home"][href^="#"] { width:100%; text-align:center; margin:0; max-width:none; }
	#fashionshow .lv-menu .lv-menu-expand { display:none; }
	#fashionshow .lv-menu .lv-menu-items { display:none; }
}

/* Small major breakpoint : smartphone in landscape orientation */
@media screen and (min-width: 26em) {
	#fashionshow { background:none; }
	#fashionshow .lv-masthead { background-image:url("../../../assets/background-768.jpg"); background-attachment:fixed; background-position:center 40px; background-repeat:no-repeat; }
	.lv-masthead .lv-video { width:80%; margin:0 auto; }
	.lv-masthead .lv-share { width:100%; }
	.lv-masthead .lv-share-items { float:right; margin-right:10px; }
}

/* Medium major breakpoint : tablet in portrait orientation */
@media screen and (min-width: 46.8em) {
	#fashionshow .lv-masthead { background-image:url("../../../assets/background-1024.jpg"); background-position:center 100px; }
	.lv-masthead .lv-video { width:calc(16/9 * (100vh - 180px)); max-width:90vw; }
	.lv-masthead .lv-share { width:calc(16/18 * (100vh - 180px)); max-width:40vw; transform:none; }
	.lv-masthead .lv-share-items { margin-right:10px; }
	nav + .lv-animation-container .lv-masthead-standalone { height:auto; }
}

/* Large major breakpoint : tablet in landscape mode */
@media screen and (min-width: 50em) {
	#fashionshow .lv-masthead { background-image:url("../../../assets/background-1024.jpg"); }
}

/* XL major breakpoint : desktop */
@media screen and (min-width: 73em) {
	#fashionshow .lv-masthead { background-image:url("../../../assets/background.jpg"); }
	.lv-masthead .lv-video { max-width:80vw; }
}

/* XL major breakpoint : desktop */
@media screen and (min-width: 88.75em) {
	.lv-masthead .lv-video { max-width:1136px; }
	.lv-masthead .lv-share { max-width:568px; }
}
